*{
  margin: 0;
  padding: 0;
}
.contain{
  background-color: rgb(45, 202, 150);
  padding-bottom: 10px;
}
.navTitle{
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 50px;
  padding-left: 80px;
  align-items: center;
}
.navTitle:hover{
  color: #7303c0;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 1.5s ease-in-out all;
}
@media (max-width:670px) {
  .navTitle{
    font-size: 40px;
    padding-left: 10px;
  }
  .nav{
    display: none;
  }
}

.navLink{
  float: right;
  display: flex;
  padding-top: 20px;
}
.nav{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-right: 70px;
}
.nav:hover{
  color: #ff00ef;
  transition: 0.5s ease-in-out all;
}
@media (max-width:1221px) {
  .nav{
    font-size: 20px;
    padding: 15px;
    align-items: center;
    margin-right: 30px;
  }
}
@media (max-width:1092px) {
  .nav{
    display: none;
  }
  /* mobile hamburget menu */
  .menu-trigger,
  .menu-trigger div {
    width: 40px; 
    height: 5px;
    display : inline-block;
    transition : all .4s;
    box-sizing : border-box;
    margin-right: 10px;
    align-items: center;
  }
  .menu-trigger {
    position : relative;
    width : 50px;
    height : 44px;
  }
  .menu-trigger div {
    position : absolute;
    left : 0;
    width : 100%;
    height : 4px;
    background-color : #fff;
    border-radius : 4px;
  }
  .menu-trigger div:nth-of-type(1) {
    top : 0;
  }
  .menu-trigger div:nth-of-type(2) {
    top : 15px;
  }
  .menu-trigger div:nth-of-type(3) {
    bottom: 10px; 
  }
}

/* Hero section */
.hero{
  background-color: #303030;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.heroContainer{
  padding-top: 10px;
  
}
.introduce{
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}
.introduce:last-child{
  color: #ec38bc;
  cursor: crosshair ;
}
.slideBack{
  background: rgba(223, 41, 168, 0.2);
  padding-bottom: 20px;
}
.slideBack .title{
  text-align: center;
  margin-top: 0px;
  color: yellow;
  font-size: 30px;
}
.slideContainer{
  width: 50%;
  margin: auto;
  overflow: hidden;
}
.slides{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  height: 500px;
}
#prevBtn{
  position: absolute;
  top: 55%;
  z-index:auto;
  left:4%;
  font-size: 50px;
  cursor: pointer;
}

#nextBtn{
  position: absolute;
  top: 55%;
  z-index: auto;
  right: 10%;
  font-size: 50px;
  cursor: pointer;
}

/* About */

.aboutContainer{
  background-color: rosybrown;
  width: 100%;
  height: 500px;
}
.aboutContainer .title{
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}
.container{
  display: flex;
}
.aboutMe{
 font-size: 30px;
 flex-wrap: wrap;
 font-weight: 400;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 60px;
 text-align: justify;
 
}
.aboutMe a button{
  background-color: cornflowerblue;
  text-align: justify;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 10%;
  border:1px solid #03001e;
  transition: 0.5s ease-in all;
}
.aboutMe a button:hover{
  background: #03001e;
}
.nana{
  width: 50%;
  position: relative;
  bottom: 20px;
  right: 50px;
  float: right;
  border-radius: 50%;
}
.mapBack{

}
.googleMap{
}